* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #dff5e3;
}

.start-screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card {
  width: 100%;
  max-width: 650px;
  background: #fff8dc;
  border-radius: 35px;
  padding: 60px 30px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.small-text {
  font-size: 20px;
  margin-bottom: 5px;
}

h1 {
  font-size: 50px;
  margin: 10px 0;
}

.message {
  font-size: 24px;
  line-height: 1.8;
}

.island {
  font-size: 90px;
  margin: 30px 0;
}

button {
  border: none;
  background: #78c091;
  color: white;
  font-size: 24px;
  padding: 18px 45px;
  border-radius: 50px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}


/* =========================
   ログイン画面
========================= */

.login-screen {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  background: #dff5e3;
}


.login-card {

  width: 100%;
  max-width: 550px;

  background: #fff8dc;

  padding: 60px 40px;

  border-radius: 35px;

  text-align: center;

  box-shadow:
    0 12px 30px
    rgba(0, 0, 0, 0.15);
}


.login-small {

  margin: 0;

  font-size: 20px;
}


.login-message {

  margin-top: 30px;

  font-size: 22px;
}


#passwordInput {

  width: 100%;

  margin-top: 20px;

  padding: 18px 20px;

  border: 3px solid #78c091;

  border-radius: 25px;

  font-size: 22px;

  outline: none;

  text-align: center;
}


#loginButton {

  width: 100%;

  margin-top: 25px;
}


.login-error {

  min-height: 30px;

  color: #d45b5b;

  font-size: 18px;

  margin-top: 20px;
}
.password-wrap {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

#passwordInput {
  width: 100%;
  padding: 18px 60px 18px 20px;
  border: 3px solid #78c091;
  border-radius: 25px;
  font-size: 22px;
  outline: none;
  text-align: center;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;

  padding: 0;
  margin: 0;

  border: none;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
}